<style>
  @font-face {
    font-family: "Serpentine Sans Bold";
    src: url(assets/fonts/Serpentine_Sans_ICG_Bold.ttf);
  }

  main .logo {
    border: 2vw black solid;
    margin-top:1vh;
  }

  div {
    font-family: 'Serpentine Sans Bold';
  }

  .d-flex {
    display: flex;
  }

  .column {
    flex-direction: column;
  }

  .row {
    flex-direction: row;
  }

  .logo .row {
    justify-content: space-between;
    margin-top:-5vh;
  }

  .icon {
    filter: grayscale(100);
    margin-right: 2.5vw;
    margin-bottom: -2.5vh;
  }

  .icon.icon-1 {
    margin-bottom: -5vh;
  }

  .icon.icon-2 {
    font-size:80%;
    padding-bottom:5.5vh;
    padding-top:5vh;
  }

  .subtitle.subtitle-2 {
    margin-top: -7vh;
  }

  .title {
    font-size: 60%;
    margin: 6vh 0 -15vh 8.5vw;
  }

  .title.title-2 {
    margin: 8vh 0 -15vh 8.5vw;
  }

  .subtitle {
    margin-left: 8vw;
  }

  .title {


  }

  * {
    font-size: 11.75vh;
  }
</style>

<main class="d-flex column">
  <div class="logo">
    <div class="d-flex row">
      <div class="title">JEWELERS</div>
      <div class="icon icon-1">💎</div>
    </div>
    <div class="subtitle"> MALANI</div>
  </div>
  <div class="logo">
    <div class="d-flex row">
      <div class="title title-2">JEWELERS</div>
      <div class="icon icon-2">💎</div>
    </div>
    <div class="subtitle subtitle-2"> MALANI</div>
  </div>
  <div class="logo">
    <div class="d-flex row">
      <div class="title">JEWELERS</div>
      <div class="icon">💎</div>
    </div>
    <div class="subtitle"> MALANI</div>
  </div>
  <div class="logo">
    <div class="d-flex row">
      <div class="title">JEWELERS</div>
      <div class="icon">💎</div>
    </div>
    <div class="subtitle"> MALANI</div>
  </div>
  <div class="logo">
    <div class="d-flex row">
      <div class="title">JEWELERS</div>
      <div class="icon">💎</div>
    </div>
    <div class="subtitle"> MALANI</div>
  </div>
</main>
